@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  /* State Colors */
  --color-error: #c30000;
  --color-error-light: #ed2e2e;
  --color-error-bg: #fff2f2;
  --color-warning: #e09126;
  --color-warning-light: #e09126;
  --color-warning-bg: #f7e4c9;
  --color-success: #00966d;
  --color-success-light: #00ba88;
  --color-success-bg: #f3fdfa;

  /* Neutral Colors */
  --color-neutral-black: #0c0c0c;
  --color-gray20: #202020;
  --color-gray40: #404040;
  --color-gray60: #606060;
  --color-gray86: #868686;
  --color-grayAD: #adadad;
  --color-grayCB: #cbcbcb;
  --color-grayDF: #dfdfdf;
  --color-grayED: #ededed;
  --color-grayF9: #f9f9f9;

  /* Primary Colors */
  --color-primary: #748c70;
  --color-primary-900: #0d100c;
  --color-primary-800: #272f25;
  --color-primary-750: #343e32;
  --color-primary-700: #404e3e;
  --color-primary-600: #5a6d57;
  --color-primary-400: #839980;
  --color-primary-300: #93a690;
  --color-primary-200: #a2b39f;
  --color-primary-100: #b2bfaf;
  --color-primary-50: #d1d9cf;
  --color-primary-25: #f0f2ef;

  /* animations */
  --animate-spin: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  body {
    @apply font-montserrat bg-white min-[1740px]:w-full min-[1740px]:max-w-[1740px];
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  a.active {
    @apply text-primary-900 font-medium;
  }
}

@layer components {
  .icon {
    & svg {
      @apply h-[1.5rem] w-[1.5rem];
    }
  }

  .header-modal {
    @apply fixed top-[14%] left-0 z-50 flex h-screen min-h-0 w-full items-start justify-center overflow-y-auto;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  .filter-modal {
    @apply fixed inset-0 z-50 h-screen w-full overflow-y-scroll bg-white pb-12;
  }

  .link-hover {
    & a {
      @apply hover:text-primary-900 hover:underline;
    }
  }

  .product-container {
    @apply relative grid w-full justify-items-end gap-y-8 px-5 pb-12 md:px-14 lg:gap-x-9 lg:px-20 xl:gap-x-6 xl:px-[108px];
    grid:
      "header header header" auto
      "leftSide body ." 1fr
      / auto 1fr auto;
  }

  .filter-container {
    grid-area: leftSide;
  }

  .grid-head {
    grid-area: header;
  }

  .grid-body {
    grid-area: body;
  }

  .checkbox {
    @apply flex cursor-pointer items-center justify-center gap-1;

    & input[type="checkbox"] {
      @apply absolute m-0 h-0 w-0 opacity-0;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    & .box {
      @apply border-primary-200 mr-1 inline-block h-4 w-4 border bg-white;
    }

    & input[type="checkbox"]:checked + .box {
      @apply bg-primary-600;
    }
  }

  .lds-ring {
    @apply relative box-border inline-block h-[80px] w-[80px];

    & div {
      @apply border-primary absolute m-2 box-border block h-[64px] w-[64px] animate-spin rounded-[50%] border-8;
      border-color: #748c70 transparent transparent transparent;
    }

    & div:nth-child(1) {
      animation-delay: -0.45s;
    }

    & div:nth-child(2) {
      animation-delay: -0.3s;
    }

    &div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@layer utilities {
  .transition-500-in-out {
    @apply transition-all duration-500 ease-in-out;
  }
}
